<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id, id: :item_product_id, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :item_type %>
    <%= form.select :item_type, Item::TYPE, {id: :item_type, include_blank: true, class: "custom-select"} %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :item_quantity, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.number_field :cost, id: :item_cost, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :item_price, class: "form-control" %>
  </div>

  <hr/>

  <div class="actions">
    <%= form.submit(nil, {class: "btn btn-lg btn-primary btn-block"}) %>
  </div>
<% end %>
